/*Base class*/
.clear{
	clear: both;
}
/*index*/
.image{
	float: right;
	width: 300px;
}
.text{
	float: left;
	width: 500px;
}
.wraper::after{
	content:'';
	clear: both;
	display: block;
}

.text2::after{
	content: '';
	height: 4px;
	width: 350px;
	background-color: blue;
	display: block;
	margin: 20px auto;
}
.text2::before{
	content: '';
	height: 4px;
	width: 350px;
	background-color: green;
	display: block;
	margin: 20px auto;
}
