/*Base class*/
.clear{
	clear: both;
}
/*index*/
.image{
	float: right;
	width: 300px;
}
.text{
	float: left;
	width: 500px;
}
/*Footer*/
.text2{
	display: inline-block;
}
.text2::before {
	content: 'Geolab';
	display: inline-block;
	color: red;
	font-size: 20px;
	text-transform: uppercase;
}
.text2::after{
	content: '';
	width: 2px;
	height: 20px;
	background-color: red;
	display: inline-block;
	margin: 0 10px;
}
.wraper::after{
	content:'';
	clear: both;
	display: block;
}