/*Base class*/
.clear{
	clear: both;
}
/*index*/
.image{
	float: right;
	width: 300px;
}
.text{
	float: left;
	width: 500px;
}
.wraper::after{
	content:'';
	clear: both;
	display: block;
}

.text2::after{
	content: '';
	height: 4px;
	width: 350px;
	background-color: blue;
	display: block;
	margin: 20px auto;
}
.text2::before{
	content: '';
	height: 4px;
	width: 350px;
	background-color: green;
	display: block;
	margin: 20px auto;
}
.left-wraper{
	float: left;
	background-color: red;
	width: 550px;
}
.right-wraper{
	float: right;
	background-color: yellow;
	width: 550px;
}
.image1{
	float: right;
	width: 200px;
}
.image2{
	float:left;
	width: 200px;
}
.text-p1{
	width: 300px;
	float: left;
}
.text-p2{
	width: 300px;
	float: right;
}
.box{
	width: 1170px;
	margin: 0 auto; 
}
.box::after{
	content: '';
	clear:both;
	display: block;
}
